@import "tailwindcss";


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

html::-webkit-scrollbar{
  display: none;
}
#loginholder{
  background-image:
    linear-gradient(
      to right,
      rgba(30,136,229,.15),
      rgba(26,26,26,.05)
    ),
    url('/loginbg.jpg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}